
{% if pagetitle == "TPO"%}
<form action="{{url_for('tpodb')}}" method="post">
    {% elif pagetitle == "Events"%}
    <form action="{{url_for('eventsdb')}}" method="post">
        {% elif pagetitle =="New updates"%}
        <form action="{{url_for('newupdatesdb')}}" method="post"></form>
        {%endif%}

        {%if pagetitle == "TPO" or pagetitle =="Events"%}
        <div class="mb-3">
            <label for="subj" class="form-label">Message</label>
            <textarea class="form-control" name="subj" id="subj" aria-label="With textarea"></textarea>
        </div>
        <div class="mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <input type="date" class="form-control" name="deadline" id="deadline" aria-describedby="name" required>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input type="text" class="form-control" name="link" id="link" aria-describedby="name" required>
        </div>
        {%elif pagetitle=="New Updates"%}
        <div class="mb-3">
            <label for="subj" class="form-label">Message</label>
            <textarea class="form-control" name="subj" id="subj" aria-label="With textarea"></textarea>
        </div>
        {%endif%}

        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
